{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Oye Movies</title>
{% include 'movies/final/header.html' %}
</head>
<!------------------------Scroll to top button------------------------------------------------>

<script>
  setTimeout(function () {
    $('.section').fadeToggle();
  }, 4000);
  
</script>

<body>
  

  <div class="scroll-bar">

    
    <!-- navbar starts -->
    {% include 'movies/final/navbar.html' %}
    

    <marquee>Welcome To <i>CrazyWave Movies</i>.com<sup>&reg;</sup></marquee>
    <label class="online">Download Latest Movies Now!</label>
    

    {% include 'movies/final/topcard.html' %}

        
    <div class="maincontainer">

      <h2>Movies</h2>
      <hr>
      <div class="container">
          <div id="movies" class="row"></div>
      </div>
           
      {% include 'movies/final/topmovies.html' %}

      {% include 'movies/final/popularmovies.html' %}
      {% include 'movies/final/upcoming.html' %}

    <!---next block -->

    {% comment %} <h2>Web Series</h2>
    <hr>
    
    {% include 'movies/final/hollywoodwebseries.html' %}

    <!---third block -->


    {% include 'movies/final/bollywoodwebseries.html' %}


  <!---third block -->

      <h2>Kids</h2>
      <hr>


      {% include 'movies/final/kidsmovie.html' %}

      <h2>Anime</h2>
      <hr>
      

      {% include 'movies/final/animationmovie.html' %}
 {% endcomment %}

    <div id="waterdrop"></div>

    <!-------------------------------Footer-------------------------------->
    {% include 'movies/final/footer.html' %}

    </body>

</html>
